.profile {
    background: linear-gradient(90deg, #000000 -5%, #ffb7c5 150%);
}

.button-gradiant {
    box-shadow: 0 0 5px #fff, 0 0 5px #fff;
}

.button-gradiant:hover {
    background: #dddddd;
    color: black;
}
